
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  font-family: 'Montserrat', sans-serif !important;
}

.mobile:hover{
    box-shadow: 6px 5px 10px #686767 ;
    
}

.proyects-banner {
  background-image: url("../img/banner.webp") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: left !important;
}